
out/
.out/
target/
.target/
build/
.build/
.vs/
bin/
.bin/

.idea/
*.iml

.dub/
.logs/

*.exe
*.lib
*.lnk
*.xml
*.dll
*.log

# Visual studio project files
*.vcxproj*
*.sln

dscanner_report.txt

update_extension.bat